html, body, section, .section, nav, .nav {
  background-color: #f7ebec;
}

a {
  color: #004ba8;
}

a:hover, a:focus, a:visited {
  color: #d3ab9e;
}

.nav-right .u_padding--default{
  padding: 20px;
}

.avatar {
  width: 150px;
}

.u_read-more-link {
  height:28px;
}